@import url("https://fonts.cdnfonts.com/css/erotique-alternate-trial");
@import url("/css/reset.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(
    -120deg,
    #e2d2a1 0%,
    #cd9477 100%
  );
}

#container {
  margin: 0 auto;
}

header {
  margin-bottom: 100vh;
}

input,
textarea {
  outline: none;
}

h2, h3 { 
  font-family: "Erotique Alternate Trial", sans-serif;
}

p {
  font-family:  quincy-cf, serif;
  font-size: 18px;
  color: #af7b6a;
  line-height: 22px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 150px 30px 150px;
  background-color: transparent;
  font-family: quincy-cf, serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  z-index: 999;
}

.navbar__logo {
  text-decoration: none;
}

.navbar__logo img {
  width: 100px;
}

.navbar__pages {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.navbar__pages a {
  text-decoration: none;
  color: #e2d2a1;
  padding: 10px 20px 10px 20px;
}

.navbar__banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center top;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.descripcion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.descripcion img {
  width: 220px;
  margin-right: 50px;
}

.descripcion__contenido h2 {
  font-size: 70px;
  margin-bottom: 10px;
  color: #908645;
}

/* .description__content p {
  font-size: 17px;
  color: #ae8973;
} */

.habilidades {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.habilidades__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.habilidades__contenido img {
  width: 300px;
  margin-bottom: 30px;
}

.habilidades__contenido_texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  padding: 0 10px 0 10px;
  font-weight: 500;
}

.habilidades__contenido h3 {
  font-size: 30px;
  color: #908645;
  height: 60px;
  margin-bottom: 10px;
}

.habilidades__contenido p {
  height: 120px;
  color:#af7b6a;
}

.suscribe {
  display: flex;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 120px;
  margin-top: 40px;
}

.suscribe__contenido {
  width: 50%;
  padding-left: 10px;
}

.suscribe__contenido h2 {
  font-size: 70px;
  margin-bottom: 20px;
  color: #908645;
}

.suscribe__contenido p {
padding-right: 10px;
} 

.suscribe iframe {
  margin-left: 30px;
}

.acerca_de_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding-left: 150px;
  padding-right: 150px;
}

.acerca_de_me img {
  width: 220px;
  margin-left: 50px;
}

.acerca_de_me__contenido h2 {
  font-size: 80px;
  margin-bottom: 20px;
  color: #c8896a;
}

/* .about_me__content p {
  font-size: 17px;
  color: #ae8973;
} */

.frase {
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 80px;
}

.frase p {
  background-color: #e2d2a1;
  padding: 25px;
  padding-left: 28px;
  font-size: 25px;
  color: #cd9477;
  line-height: 27px;
}

.experiencia {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 120px;
}

.experiencia img {
  width: 400px;
}

.experiencia__contenido {
  margin-left: 50px;
  font-size: 17px;
  color: #ae8973;
  padding-right: 5px;
}

.contacto {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: -30px;
  margin-bottom: 100px;
}

.contacto h2 {
  font-size: 65px;
  margin-bottom: 20px;
  color: #908645;
}

.contacto__contenido {
  display: flex;
  align-items: center;
}

.contacto__contenido form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.form__control {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 25px;
}

.form__control label,
input {
  font-family: quincy-cf, serif;
}

.form__control label {
  margin-bottom: 10px;
  font-size: 18px;
  color:#af7b6a;
}

.form__control input {
  padding: 10px;
  border: 0;
  background-color: #e2d2a1;
  color: #908645;
}
::placeholder {
  opacity: 0.5;
  color:#af7b6a;
}

.form__control textarea {
  padding: 10px;
  border: 0;
  background-color: #e2d2a1;
  color:#af7b6a ;
  overflow-y: scroll;
  margin-bottom: 10px;
  font-family: quincy-cf, serif;
}
::-webkit-scrollbar {
  height: 50px;
  width: 20px;
  background: #afa973;
}
::-webkit-scrollbar-thumb {
  background: #908645;
}

.form__submit {
  display: flex;
  justify-content: flex-end;
}

.form__submit input[type="submit"] {
  font-family: "Erotique Alternate Trial", sans-serif;
  padding: 5px 20px;
  width: 150px;
  font-size: 30px;
  margin-right: 5px;
  border: 0;
  background-color: #908645;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.4s;
}
.form__submit input[type="submit"]:hover {
  opacity: 1;
}
.form__submit input[value="enviar"] {
  color: #e2d2a1;
}

.contacto__datos {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  color: #af7b6a;
  font-family: quincy-cf, serif;
  margin-top: -120px;
}

.contacto__datos h3{
  font-family: quincy-cf, serif;
  margin-bottom: 5px;
}

.mapa_google iframe {
  width: 900px;
  height: 450px;
  margin-bottom: 120px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 150px 30px 150px;
  background-color: #e2d2a1;
  color: #cd9477;
  font-family:  quincy-cf, serif;
  font-size: 17px;
  font-weight: 350;
}

footer img {
  width: 120px;
}

.footer__contenido {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__contenido h3 {
  font-size: 20px;
  margin-bottom: 8px;
  font-family: quincy-cf, serif;
}

.footer__contenido ul {
  list-style: none;
}

.footer__contenido li {
  line-height: 19px;
}

.footer__contenido ul a {
  text-decoration: none;
  color: #cd9477;
}
